.flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-col{
  display: flex;
  flex-direction: column;
  align-items: center;
}

header div{
}

/*==================== HEADER ====================*/


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(20, 20, 20);
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button{
    color: whitesmoke;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    transition: 0.2s;
    margin: 10px;
}

.navButton {
    border: solid 2px #3a3a3a;
    padding: 8px 14px;
    border-radius: 6px;
}

.navButton:hover {
    background: #3a3a3a;
} 

@media (max-width: 800px) {
    #logoImg{
        max-width:70px;
    }
    
    .navButton[href="index.php"]::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background-image: url('/sites/DungeonXplorer/assets/icons/home.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .navButton[href="decouvrir.php"]::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background-image: url('/sites/DungeonXplorer/assets/icons/compass.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .navButton[href="apropos.php"]::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background-image: url('/sites/DungeonXplorer/assets/icons/info.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    .button[href="login.php"]::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background-image: url('/sites/DungeonXplorer/assets/icons/account.png');
        background-repeat: no-repeat;
        background-size: contain;
    }


    .button{
        color: whitesmoke;
        text-decoration: none;
        font-size: 0;
        display: inline-block;
        transition: 0.2s;

        margin: 5px;
    }

    .navButton {
        border-radius: 6px;
        font-size: 0;
        padding: 6px 8px;
    }

    .navButton::before {
        font-size: 20px;
        display: block;
    }

    header {
        padding: 5px;
    }

    header img {
        top: 0;
        margin: 0;
        height: 30px;
    }

}


/*==================== body ====================*/


body {
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    color: whitesmoke;
    position: relative;
    padding-top: 60px; /* espace pour ne pas passer sous le header */

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body::before {
    content: "";
    position: fixed;
    top: -20px;        /* déborde autour */
    left: -20px;
    width: calc(100vw + 40px);
    height: calc(100vh + 40px);

    background-image: url('../../assets/background/wp2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    filter: blur(6px);
    z-index: -2;
    pointer-events: none;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background: rgba(26, 26, 26, 0.55);
    z-index: -1;
    pointer-events: none;
}

@media (max-width: 768px) {
    body::before {
        background-image: url('../../assets/background/wp2.jpg');
    }
}


/*==================== BODY ====================*/
